{% extends "base.twig" %}
{% block title %}Crystal User System{% endblock %}
{% block body %}
    <h2>Crystal User System - Register</h2>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}